/* Inter & Lexend Deca Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap");

:root {
  /* Primary Colors */
  --main-background: hsl(233, 47%, 7%);
  --card-background: hsl(244, 38%, 16%);
  --card-accent: hsl(277, 64%, 61%);

  /* Neutral Colors */
  --card-title: hsl(0, 0%, 100%);
  --card-paragraph: hsla(0, 0%, 100%, 0.75);
  --card-stats-heading: hsla(0, 0%, 100%, 0.6);

  /* Typography */
  --font-size-body: 15px;
  --font-family-main: "Inter", "sans-serif";
  --font-family-side: "Lexend Deca", "sans-serif";
  --font-size-default: 400;
  --font-size-weight: 700;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-size: var(--font-size-body);
  min-height: 100vh;
  background-color: var(--main-background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 90%;
  background-color: var(--card-background);
  border-radius: 0.5rem;
  overflow: hidden;
  color: var(--card-title);
  font-family: var(--font-family-main);
}

.picture-container {
  background-color: var(--card-accent);
}

.card__picture {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.background {
  object-fit: cover;
  display: block;
  opacity: 0.6;
  filter: contrast(170%) brightness(50%) saturate(150%);
}

.card__texts {
  width: 80%;
  margin: 2.8em auto 2em;
  text-align: center;
}

.card__title {
  font-weight: var(--font-size-weight);
  font-size: 1.6rem;
  margin-bottom: 1.1rem;
}

.card__benefits {
  color: var(--card-stats-heading);
  line-height: 1.7;
  margin-top: 0.8em;
}

.insights {
  color: var(--card-accent);
}

.card__metrics {
  width: 80%;
  margin: 0 auto 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metric {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0.5rem 0;
}

.metric__number {
  font-size: 1.5rem;
  margin: 0;
}

.metric__title {
  text-transform: uppercase;
  color: var(--card-stats-heading);
  /* font-weight: var(--font-size-weight); */
  font-family: var(--font-family-side);
  font-size: 0.8em;
  letter-spacing: 1px;
  margin-top: 0.5rem;
}

@media (min-width: 750px) {
  .card {
    width: 75%;
    max-width: 1140px;
    display: grid;
    grid-template-columns: minmax(10px, auto) minmax(10px, 47%);
    grid-template-rows: repeat(2, minmax(10px, auto));
  }

  .card__title {
    font-size: calc(1.4rem + 1vmax);
    margin-bottom: 1.5rem;
  }

  .picture-container {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
  }

  .card__picture {
    height: 100%;
  }

  .card__texts {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    width: 70%;
    margin-bottom: 2.4rem;
  }

  .card__benefits {
    width: 94%;
  }

  .card__metrics {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding-right: 3em;
    margin-bottom: 1.4rem;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: 70%;
  }

  .background {
    width: auto;
    height: 100%;
  }

  .metric {
    margin-bottom: 2.1rem;
    align-items: flex-start;
  }
  /* .metric:last-child {
    margin-bottom: 2.3rem;
  } */
}

@media (min-width: 1600px) {
  .card__title {
    font-size: 39.8px;
  }
}
